<div class="h-full flex flex-col gap-16 justify-center items-center">
  <span class="light-text text-center text-4xl m-8">
    Bienvenue sur l'application web !
  </span>

  <p class="max-w-xl text-center">
    Cette plateforme a pour objectif de proposer une analyse vidéo abordable et un
    outil de gestion de club simple à utiliser. Elle évoluera avec de nombreuses
    fonctionnalités pour vous accompagner au quotidien.
  </p>

    <section class="flex flex-col justify-center items-center gap-2 bg-layer-2 rounded-3xl accent-text p-8">
      <h3>Découvrez ici l'application</h3>
      <a routerLink="/discover">svg Arrow</a>
    </section>
  </div>
