@use './variables/button.variables';

.icon:hover {
  background-color: var(--btn-default-bg-hover);
  border-radius: 30rem;
}

.btn-default {
  background-color: var(--btn-default-bg);
  border-color: var(--btn-default-border);
  border-style: solid;
  border-width: var(--border-width);
  border-radius: var(--border-radius);
    &:hover {
      background-color: var(--btn-default-bg-hover);
    }
}

.btn-accent {
  background-color: var(--btn-accent-bg);
  border-color: var(--btn-accent-border);
  border-style: solid;
  border-width: var(--border-width);
  border-radius: var(--border-radius);
  color: var(--btn-accent-color);
  &:hover {
    background-color: var(--btn-accent-hover-bg);
  }

}
