@use './variables/global.variables';
@use './variables/state.variables';

.bg-layer-1 {
  background-color: var(--bg-layer-1);
}

.bg-layer-2 {
  background-color: var(--bg-layer-2);
}

.bg-layer-3 {
  background-color: var(--bg-layer-3);
}

.bg-secondary-layer-1 {
  background-color: var(--bg-secondary-layer-1);
}

.bg-secondary-layer-2 {
  background-color: var(--bg-secondary-layer-2);
}

.light-text {
  color: var(--light-text);
}

.dark-text {
  color: var(--dark-text);
}

.primary-text {
  color: var(--primary-text);
}

.alert-text {
  color: var(--alert);
}

.accent-text {
  color: var(--accent);
}
