<h2 mat-dialog-title class="bg-layer-3 text-default m-0 text-center">{{ data.title }}</h2>

<mat-dialog-content class="bg-layer-3 text-default pt-3">
  <p>{{ data.message }}</p>
</mat-dialog-content>

<mat-dialog-actions align="end" class="bg-layer-3 pb-3 pr-3">
  <button mat-button type="button" (click)="cancel()">{{ data.cancelLabel ?? 'Annuler' }}</button>
  <button mat-flat-button color="warn" type="button" cdkFocusInitial (click)="confirm()">{{ data.confirmLabel ?? 'Supprimer' }}</button>
</mat-dialog-actions>
