:root {
  --border-radius: 0.5rem;
  --border-width: 0.3px;

  --btn-primary-bg: #278BC9;

  --btn-accent-bg: #FFA200;
  --btn-accent-border: #f29a00;
  --btn-accent-hover-bg: #e08f00;
  --btn-accent-color: #1C1C1C;

  --btn-default-bg: #2a2a2a;
  --btn-default-border: #232323;
  --btn-default-bg-hover: #575757;

  --input-bg: #FAFAFA
}

.dark-theme {

}
