:root {
  --bg-layer-1: #282828;
  --bg-layer-2: #374151;
  --bg-secondary-layer-1: #FFC107;
  --bg-secondary-layer-2: #FF5722;

  --light-text: #FAFAFA;
  --light-text-disabled: #C3C3C3;
  --dark-text: #OCOCOC;
  --primary-text: #278BC9;
}

.dark-theme {
  --bg-layer-1: #282828;
  --bg-layer-2: #374151;
  --bg-secondary-layer-1: #FFC107;
  --bg-secondary-layer-2: #FF5722;

  --light-text: #FAFAFA;
  --light-text-disabled: #C3C3C3;
  --dark-text: #0C0C0C;
  --primary-text: #278BC9;
}
