@use './theme/global.class';
@use './theme/btn.class';
@use './theme/timeline.class';
@use './theme/sequencer.class';
@use './theme/layout.class';
@use './theme/public.class';

@use 'theme/override/material-override';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--bg-layer-1);
}

// CSS OVERRIDE HTML BASIC STYLE
.file-btn-primary {
  &::file-selector-button,
  &::-webkit-file-upload-button {
    cursor: pointer;
    background-color: var(--btn-primary-bg);
    border-color: var(--btn-primary-border);
    border-style: solid;
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    color: var(--btn-primary-color);
  }
  &:hover {
    &::file-selector-button,
    &::-webkit-file-upload-button {
      background-color: var(--btn-primary-hover-bg);
    }
  }
  &:disabled {
    &::file-selector-button,
    &::-webkit-file-upload-button {
      cursor: not-allowed;
      background-color: var(--btn-primary-bg-disabled);
    }
    &:hover {
      &::file-selector-button,
      &::-webkit-file-upload-button {
        cursor: not-allowed;
        background-color: var(--btn-primary-bg-disabled-hover);
      }
    }
  }
}

input {
  @apply py-3 px-2 rounded-md cursor-pointer;
  background-color: var(--dark);
}
